html {
  text-align: center;
  font: 15px roboto slab;
  margin: 3px;
}
.sub-header {
  font-weight: 500;
  font-size: 17px;
  font-style: italic;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
figcaption {
  font-size: 11px;
  font-weight: 600;
  font-style: italic;
}
#headline {
  font-weight: 500;
}
#tribute-info {
  font-weight: 300;
  line-height: 1.4em;
  margin: .4em;
}
.books {
  background-color: rgb(168, 168, 168, .1);
}
.book-title {
  font-style: italic;
  font-size: 19px;
  margin-bottom:  -6px;
}
.publisher {
  font-size: smaller;
}
#kindle-img {
  height: 28em;
  width: auto;
  border: 1px;

}
blockquote {
  font-weight: 300;
  font-size: 17px;
  font-style: italic;
}

@media only screen and (min-width: 920px){
blockquote {
  padding: 20px;
  font-style: italic;
}
  img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tribute {
  margin: 0 115px 0 115px;
}

}